body {
    position: relative;
}
.flex-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: wheat;
    width: 450px;
    height: 60px;
    text-align: center;
    border-radius:15px;
    margin-top: 20px;
    margin-bottom: 20px;
}
h1 {
    font-family: sans-serif;
    font-weight: 400;
}
form[action='/submit'],form[action='/submitWork']{
    margin-bottom: 100px;
}
.work{
    display: flex;
    flex-direction: column;
    
}
.workLi, .input{
    display: flex;
    align-items: center;
    position: relative;
    background-color: whitesmoke;
    border-radius: 15px;
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
}
input[type="checkbox"] {
    position: relative;
    left: 30px;
    height: 25px;
    width: 25px;    
}
label {
    position: relative;
    left: 45px;
    font-size: 20px;
    font-family: sans-serif;
}
input[type="text"]{
    position: absolute;
    left: 30px;
    width: 300px;
    border: 0;
    background-color: whitesmoke;
}
input[id='button'], .clearbutton{
    position: absolute;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: wheat;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}
    
.footer {
    position: fixed;
    bottom: 0px;
    width: 80%;
    left: 10%;
    background-color: white;
}

span {
    font-family: sans-serif;
}
